.side-menu
  input.side-menu_opener(type="checkbox" id="menu")
  label.side-menu_opener-icon(for="menu")
    img(src="assets/img/menu.png")
    span Меню
  .side-menu_container
    ul.side-menu_list
      li.side-menu_item
        a(href="") lorem
      li.side-menu_item
        a(href="") ipsum
      li.side-menu_item
        a(href="") dolor
      li.side-menu_item
        a(href="") lorem long link text that fill more than one line

    .side-menu_social
      a.side-menu_social-insta(href="#") Instagram
      a.side-menu_social-vk(href="#") Vkontakte
