@font-face {
    font-family: 'ralewayregular';
    src: url('../assets/fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('../assets/fonts/raleway-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayextrabold';
    src: url('../assets/fonts/raleway-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
