.header {
  height: var(--header-height);
  position: relative;
  z-index: 1;
  max-width: calc(2 * var(--side-indents) + var(--content-width));
  width: 100%;
  padding: 0 var(--side-indents);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_help {
    display: flex;
    text-align: right;
    padding-bottom: 9px;
    flex-direction: column;

    a {
      color: #fff;
      text-decoration: none;
      font: 17px 'ralewayextrabold', Arial, Helvetica sans-serif;

      &:hover {
        color: var(--theme-color);
      }
    }

    span {
      color: #fff;
      padding: 9px 0;
      text-transform: uppercase;
      text-decoration: none;
      font: 11px 'ralewaysemibold', Arial, Helvetica sans-serif;
    }
  }
}
