section.intro
  .section-wrap
    strong.intro_subtitle Мы в Nambawan Trawel
    h1.intro_title Организуем корпоративное путешествие  для Ваших сотрудников и клиентов

    .intro_features
      .intro_features-item Повышаем лояльность сотрудников;
      .intro_features-item Увеличиваем мотивацию сотрудников
      .intro_features-item Улучшаем имидж компании

    .intro_button
      img(src="assets/img/arrow.png")
      span Мы в этом шарим!
